.container
  .row
    .col-md-6.col-md-offset-3
      .thankyouContainer
        %h1 Thank you for applying with us!
        %p One of our representatives will get in touch with you once we review your application.
